<div class="form container mt-5">
    <h1 class="text-center text-muted mb-5">{{title}}</h1>
    
    <form action="" class="mb-5" (submit)="handleSubmit(contactform)" #contactform = 'ngForm'>
        <div class="form-group row">
            <label for="firstname" class="col-sm-2 col-form-label labelpad">Firstname</label>
            <div class="col-sm-10 labelpad">
                <input type="text" class="form-control" [ngClass]="{'is-valid':fname.valid , 'is-invalid':fname.invalid && fname.touched}" name="firstname" id="firstname" #fname="ngModel" [(ngModel)]="contact.firstName" required pattern="^[a-zA-Z]+$">
                <div class="valid-feedback" *ngIf="fname.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback" *ngIf="fname.errors?.['required'] || isSubmitted ">
                    Please enter a firstname
                </div>
                <div class="invalid-feedback" *ngIf="fname.errors?.['pattern'] && fname.dirty">
                    Please enter a valid firstname
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname" class="col-sm-2 col-form-label labelpad" >Lastname</label>
            <div class="col-sm-10 labelpad">
                <input type="text" class="form-control" #lname="ngModel" name="lastname" id="lastname"  [(ngModel)]="contact.lastName" [ngClass]="{'is-valid':lname.valid , 'is-invalid':lname.invalid && lname.touched}" required pattern="^[a-zA-Z]+$">
                <div class="valid-feedback" *ngIf="lname.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback" *ngIf="lname.errors?.['required']">
                    Please enter a lastname
                </div>
                <div class="invalid-feedback" *ngIf="lname.errors?.['pattern'] && lname.dirty">
                    Please enter a valid lastname
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label labelpad">Email</label>
            <div class="col-sm-10 labelpad">
                <input type="email" class="form-control" name="email" id="email"  #email="ngModel" [ngClass]="{'is-valid':email.valid , 'is-invalid':email.invalid && email.touched}" [(ngModel)]="contact.email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                <div class="valid-feedback" *ngIf="email.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback" *ngIf="email.errors?.['required']">
                    Please enter a email
                </div>
                <div class="invalid-feedback" *ngIf="email.errors?.['pattern'] && email.dirty">
                    Please enter a valid email
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class=" col-sm-2 col-form-label labelpad">Gender</label>
            <div class="col-sm-10 labelpad">
                <div class="custom-control-inline">
                    <div class="custom-control custom-radio mr-4">
                        <input type="radio" class="custom-control-input" name="gender" #male="ngModel" id="male" value="male" [(ngModel)]="contact.gender" required>
                        <label for="male" class="custom-control-label">Male</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="gender" #female="ngModel" id="female" value="female" [(ngModel)]="contact.gender" required>
                        <label for="female" class="custom-control-label">Female</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="qualification" class="col-sm-2 col-form-label labelpad">Qualification</label>
            <div class="col-sm-6 labelpad">
                <select #course="ngModel" class="form-control " name="qualification" id="qualification" [(ngModel)]="contact.qualification" [ngClass]="{'is-valid':course.valid , 'is-invalid':course.invalid && course.touched}" required>
                    <option value="" selected disabled>SELECT</option>
                    <option [ngValue]="course.id" *ngFor="let course of courseList">
                        {{course.name}}
                    </option>
                </select>
                <div class="valid-feedback" *ngIf="course.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback" *ngIf="course.errors?.['required']">
                    Please select course
                </div>
            </div>
        </div>

        <div class="form-group row" ngModelGroup="skills">
            <label class="col-sm-2 col-form-label labelpad">Technical skills</label>
            <div class="col-sm-10 labelpad">
                <div class="custom-control custom-checkbox  w-100">
                    <input type="checkbox" class="custom-control-input" name="html" id="html" [(ngModel)]="contact.skills.html">
                    <label for="html" class="custom-control-label">HTML</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="css" id="css" [(ngModel)]="contact.skills.css">
                    <label for="css" class="custom-control-label">CSS</label>
                </div>
            </div>
        </div>

        <div ngModelGroup="address">
            <div class="form-group row">
                <label for="country" class="col-sm-2 col-form-label labelpad">Country</label>
                <div class="col-sm-10 labelpad">
                    <input type="text" class="form-control" #country="ngModel" name="country" id="country" [(ngModel)]="contact.address.country" [ngClass]="{'is-valid':country.valid , 'is-invalid':country.invalid && country.touched}" required pattern="^[a-zA-Z]+$">
                    <div class="valid-feedback" *ngIf="country.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="country.errors?.['required']">
                        Please enter a country
                    </div>
                    <div class="invalid-feedback" *ngIf="country.errors?.['pattern'] && country.dirty">
                        Please enter a valid country
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="state" class="col-sm-2 col-form-label labelpad">State</label>
                <div class="col-sm-10 labelpad">
                    <input type="text" class="form-control " #state="ngModel" name="state" id="state" [(ngModel)]="contact.address.state" [ngClass]="{'is-valid':state.valid , 'is-invalid':state.invalid && state.touched}" required pattern="^[a-zA-Z]+$">
                    <div class="valid-feedback" *ngIf="state.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="state.errors?.['required']">
                        Please enter a state
                    </div>
                    <div class="invalid-feedback" *ngIf="state.errors?.['pattern'] && state.dirty">
                        Please enter a valid state
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="district" class="col-sm-2 col-form-label labelpad">District</label>
                <div class="col-sm-10 labelpad">
                    <input type="text" class="form-control  " name="district" id="district" #dist="ngModel" [(ngModel)]="contact.address.district" [ngClass]="{'is-valid':dist.valid , 'is-invalid':dist.invalid && dist.touched}" required pattern="^[a-zA-Z]+$">
                    <div class="valid-feedback" *ngIf="dist.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="dist.errors?.['required']">
                        Please enter a district
                    </div>
                    <div class="invalid-feedback" *ngIf="dist.errors?.['pattern'] && dist.dirty">
                        Please enter a valid district
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-btn row">
            <button class="btn btn-primary btn-lg btn-block  mr-auto mt-3" type="submit" [disabled]="!contactform.valid">Submit</button>
        </div>
    </form>
</div>
